* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: #fff;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1rem;
}

button {
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid #04195e;
    color: #fff;
    background-color: #04195e;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 1rem; 
    margin: 20px 0; 
}

@media (max-width: 768px) {
  .search-container {
    flex-direction: column;
    align-items: stretch;
  }
}
