.submit-btn {
  align-self: center;
  padding: 14px 30px;
  background-color: #04195e;
  color: white;
  border: none;
  border-radius: 12px;
  font-size: 1.1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;
  width: 100%;
  max-width: 250px;
}

.submit-btn:hover {
  background-color: #002f88;
}
